.button {
  display: flex;
  align-items: center;
  background-color: #1c1516;
  padding: 14px 24px;
  border-radius: 50px;
}

.inActive.button {
  background-color: #e8e8e8;
  cursor: default;
}

.memo {
  margin-right: 12px;
}

.description {
  color: white;
}
