.container {
  padding: 8vh 7vw;
}

.back {
  font-size: 14px;
  color: rgba(160, 160, 160, 1);
}

.head {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  margin-top: 2%;
}

.pjtForm {
  display: flex;
  flex-direction: column;
  padding: 6vh 4vh;
}
