.container {
  padding: 6rem 5rem;
}

.header {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 100px auto;
}

.greeting {
  font-weight: 700;
  font-size: 32px;
}

.mainDescription {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 12px;
}

.subDescription {
  color: #a0a0a0;
}
