/* 경험 부분 공통 CSS */

/* 전체 컨테이너 */
.container {
  padding: 8vh 7vw;
}

/* 상단 타이틀 스타일 */
.title {
  font-weight: 700;
  /* 24px */
  font-size: 1.5rem;
  user-select: none;
}

/* flex */
.flex {
  display: flex;
  align-items: center;
}

/* flex의 center */
.center {
  display: flex;
  justify-content: center;
}
/* flex의 space-between */
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 글씨 두껍게 */
.bold {
  font-weight: 700;
  user-select: none;
}

.semibold {
  font-weight: 600;
  user-select: none;
}

/* 14px */
.small {
  font-size: 0.875rem;
}

/* 12px */
.semismall {
  font-size: 0.75rem;
}

.red {
  color: #ef0000;
}

.gray {
  color: #a0a0a0;
}

.orange {
  color: #ff5c17;
}

.blue {
  color: #1ea6fc;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  place-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 1.5rem 1rem;
  padding: 12px;
}

.card {
  width: 260px;
  height: auto;
  max-width: 260px;
  aspect-ratio: 340 / 120;
  padding: 20px 16px;
  border-radius: 1rem;
  box-shadow: 0px 8px 12px 3px #7e7e7e12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

/* 카드에 적힌 경험 제목 */
.subtitle {
  width: 100%;
  color: #1c1516;
  font-weight: 600;
  /* 16px */
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date {
  color: #a0a0a0;
  /* 10px */
  font-size: 0.625rem;
  user-select: none;
}

/* 키워드(태그) */
.keywords {
  display: flex;
  user-select: none;
}

/* 기술 키워드 */
.bluekeyword {
  color: #1ea6fc;
  background: rgba(30, 166, 252, 0.1);
  padding: 3px 8px;
  /* 10px */
  font-size: 0.625rem;
  border-radius: 5px;
  margin-right: 0.3rem;
  user-select: none;
}

/* 인성 키워드 */
.yellowkeyword {
  color: #ffc107;
  background: rgba(255, 193, 7, 0.1);
  padding: 3px 8px;
  /* 10px */
  font-size: 0.625rem;
  border-radius: 5px;
  margin-right: 0.3rem;
  user-select: none;
}

.search {
  display: flex;
  align-items: center;
  color: #a0a0a0;
  border-bottom: #a0a0a0 1px solid;
  padding: 8px 20px 8px 0;
  margin: 3vh 0;
  gap: 1rem;
  z-index: 10;
}

/* 경험 없음 */
.nothing {
  color: #a0a0a0;
  font-size: 1rem;
  margin: 10rem auto;
  line-height: 1.4;
  user-select: none;
}

/* 경험 추가 버튼 */
.btn {
  width: 9rem;
  height: 2.5rem;
  border: none;
  border-radius: 16px;
  background-color: #ff5c17;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  user-select: none;
}

/* 검정색 버튼 (등록하기, 수정하기 등) */
.regist {
  width: 9rem;
  height: 2.5rem;
  border: none;
  border-radius: 16px;
  background-color: #1c1516;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  user-select: none;
}

/* 돌아가기 */
.backBtn {
  font-size: 14px;
  color: rgba(160, 160, 160, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
}
