.container {
  display: flex;
  flex-direction: column;
  padding: 8vh 7vw;
}

.backBtn {
  font-size: 14px;
  color: rgba(160, 160, 160, 1);
  cursor: pointer;
}

.diaryTitle {
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  margin: 8vh 0;
}

.diaryForm {
}

.submitBtn {
  width: 14.3125rem;
  height: 3rem;
  border: none;
  border-radius: 8px;
  background-color: #ff5c17;
  margin-bottom: 2rem;
  font-size: 16px;
  color: white;
  align-self: center;
}
