.container {
}

.questionContainer {
  display: flex;
  align-items: center;
}

.outerCircle {
  position: relative;
  width: 2.3125rem;
  height: 2.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 100%;
  border-color: rgba(255, 92, 23, 1);
}

.innerCircle {
  width: 1.8125rem;
  height: 1.8125rem;
  display: flex;
  background-color: rgba(255, 92, 23, 1);
  border-radius: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 20px;
  font-weight: 600;
  margin-left: 2vw;
}

.description {
  font-size: 16px;
  color: rgba(160, 160, 160, 1);
  margin: 1vh 0vw 1vh 5.4vw; /* 위 | 오른쪽 | 아래 | 왼쪽 */
}

.imgContainer {
  width: 90%;
  box-sizing: border-box;
  height: 50%;
  margin: 2vh 0vw 8vh 5vw;
  padding: 3vh 2vw;
  border: solid;
  border-radius: 20px;
  border-color: rgba(232, 232, 232, 1);
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgInputBlock {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 184px);
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}

.imgExBlock {
  display: flex;
  align-items: end;
}

.imgEx {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.close {
  width: 1.5rem;
}

.progressBarContainer {
  width: 74%;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progressBar {
  height: 100%;
  background-color: #ff5c17;
  width: 0;
  transition: width 0.3s ease;
}

.imgInputInfo {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='26' ry='26' stroke='%23FACAB5FF' stroke-width='4' stroke-dasharray='8%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 26px;
  padding: 2vh 2vw;
  width: 50%;
  height: 20%;
  cursor: pointer;
}

.imgIcon {
  width: 3.75rem;
  overflow: hidden;
}

.imgInputInfo > div {
  text-align: center;
}

.imgInputInfo > div > p:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.imgInputInfo > div > p:nth-child(2) {
  font-size: 12px;
}

.hiddenInput {
  display: none;
}
