.container {
  width: 95%;
}

.projectGrid {
  padding: 8px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
  overflow-y: auto;
  scrollbar-width: none;
  gap: 24px 12px;
}

.emptyDiaryContainer {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-self: center;
  margin: 0;
  gap: 1rem;
}

.emptyIcon {
  width: 7.5rem;
}

.emptyTextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: rgba(160, 160, 160, 1);
}

.boldText {
  font-weight: 700;
}
