.container {
  display: flex;
  flex-direction: column;
  padding: 3.75rem 5rem;
}

.container > section {
  padding: 1.25rem 1rem;
}

.back {
  font-size: 14px;
  color: rgba(160, 160, 160, 1);
}

.info {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.info > div > div:first-child {
  display: flex;
  align-items: center;
}

.img {
  width: 3rem;
  height: 3rem;
  border: solid;
  border-color: #e8e8e8;
  border-width: 0.2px;
  border-radius: 100%;
  margin-right: 10px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-right: 10px;
}

.setting {
  width: 1rem;
  color: rgba(160, 160, 160, 1);
}

.state {
  width: 3rem;
  height: 1rem;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
}

.stateTrue {
  background-color: rgba(30, 166, 252, 0.1);
  color: rgba(30, 166, 252, 1);
}

.stateFalse {
  background-color: rgba(239, 122, 133, 0.3);
  color: rgba(255, 92, 23, 1);
}

.endBtn {
  width: 9rem;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  background-color: black;
  font-size: 16px;
  color: white;
}

.summary {
  font-size: 16px;
  margin-left: 1rem;
  margin-bottom: 0.6rem;
}

.term {
  font-size: 14px;
  margin-left: 1rem;
  margin-bottom: 2.25rem;
  color: rgba(160, 160, 160, 1);
}

.tags {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.subTitle {
  font-size: 12px;
  font-weight: 600;
  margin-right: 3.75rem;
}

.tag {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: rgba(30, 166, 252, 0.1);
  color: rgba(30, 166, 252, 1);
  border-radius: 5px;
  margin-right: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tabSec {
  display: flex;
  justify-content: space-between;
}

.tabs {
  display: flex;
}

.tab {
  width: 7.8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid;
  border-color: rgba(255, 92, 23, 1);
  color: rgba(255, 92, 23, 1);
}

.control {
  display: flex;
  align-items: end;
  gap: 0.8rem;
}

.sort {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.2rem;
}

.btn {
  width: 9rem;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  background-color: #ff5c17;
  font-size: 16px;
  color: white;
}
