.main {
  margin: 0 auto;
  padding: 3.75rem 5rem;
}

.title {
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 1.38rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  width: 85vw;
  flex-shrink: 1;
  /* overflow-y: scroll; */
  /* height: 500px; */
}

.card {
  width: 100vw;
  max-width: 320px;
  min-width: 250px;
  padding: 24px 15px 27px;
  border-radius: 1.25rem;
  background: var(--Main-White, #fff);
  box-shadow: 0px 8px 20px 3px rgba(126, 126, 126, 0.2);
}

.between {
  display: flex;
  justify-content: space-between;
}

.subhead {
  color: #1c1516;
  font-weight: 600;
  font-size: 1rem;
}

.date {
  color: #a0a0a0;
  font-size: 0.65rem;
}

.tags {
  display: flex;
  margin-top: 42px;
}

.btag {
  color: #1ea6fc;
  background: rgba(30, 166, 252, 0.1);
  padding: 3px 8px;
  font-size: 0.65rem;
  border-radius: 3px;
  margin-right: 0.3rem;
}

.ytag {
  color: #ffc107;
  background: rgba(255, 193, 7, 0.1);
  padding: 3px 8px;
  font-size: 0.65rem;
  border-radius: 3px;
  margin-right: 0.3rem;
}

.search {
  display: flex;
  align-items: center;
  color: #a0a0a0;
  border-bottom: #a0a0a0 1px solid;
  padding: 8px 20px 8px 0;
  margin-bottom: 31px;
  gap: 1rem;
}

.nothing {
  color: #a0a0a0;
  font-size: 1rem;
  margin: 10rem auto;
  line-height: 1.4;
}

.bold {
  font-weight: 600;
}
