.container {
  display: flex;
  flex-direction: column;
  padding: 8vh 7vw;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pjtSec {
  padding: 20px;
}

.head {
  font-size: 30px;
  font-weight: 700;
}

.btn {
  width: 9rem;
  height: 2.5rem;
  border: none;
  border-radius: 16px;
  background-color: #ff5c17;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.wips {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 2.1rem;
  padding-left: 0.1rem;
  padding: 12px;
}

.hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.fins {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  place-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 1.5rem 1rem;
}
