.container {
  padding: 3.75rem 5rem;
}

.sec1 {
  display: flex;
  justify-content: space-between;
}

.head {
  font-size: 30px;
  font-weight: 700;
}

.btn {
  width: 9rem;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  background-color: #ff5c17;
  font-size: 16px;
  color: white;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.wips {
  width: 60rem;
  height: 12.5rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 2.1rem;
  padding-left: 0.1rem;
}

.hr {
  width: 62.5rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.fins {
  width: 60rem;
  height: 25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
  scrollbar-width: none;
  gap: 1rem;
}
