.questionSection {
  display: flex;
  align-items: center;
}

.outerCircle {
  position: relative;
  width: 2.3125rem;
  height: 2.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 100%;
  border-color: rgba(255, 92, 23, 1);
}

.innerCircle {
  width: 1.8125rem;
  height: 1.8125rem;
  display: flex;
  background-color: rgba(255, 92, 23, 1);
  border-radius: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 20px;
  font-weight: 600;
  margin-left: 2vw;
}

.imgInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgExBlock {
  display: flex;
  align-items: end;
}

.imgEx {
  width: 10rem;
  height: 10rem;
}
