.container {
  display: flex;
  flex-direction: column;
  padding: 8vh 7vw;
}

.backBtn {
  display: flex;
  font-size: 14px;
  color: rgba(160, 160, 160, 1);
  cursor: pointer;
  align-items: center;
}

.diaryTitle {
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  margin: 4vh 0;
}

.updateBtn {
  width: 9rem;
  height: 2.5rem;
  border: none;
  border-radius: 16px;
  background-color: black;
  font-size: 16px;
  color: white;
  font-weight: 600;
  align-self: self-end;
  margin-bottom: 3vh;
}
