@import './reset.css';

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/pretendard/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/pretendard/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/pretendard/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/pretendard/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: 'Pretendard';
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color: #1c1516;
}

* {
  margin: 0;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  user-select: none;
}

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
