.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 21, 22, 0.5); /* 배경색 1C1516, 투명도 50% */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px 28px;
  max-width: 376px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #1c1516;
  margin-bottom: 8px;
}

.content {
  font-size: 0.875rem;
  color: #a5a5a5;
  margin-bottom: 24px;
}

.actions {
  margin: 0 auto;
  gap: 10px;
}

.cancle {
  background-color: #f0f0f0;
  color: #333;
  width: 155px;
  padding: 12px 0;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  flex: 1;
  margin-right: 20px;
}

.confirm {
  width: 155px;
  padding: 12px 0;
  background-color: #ff5c17;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  flex: 1;
}
