/* 경험 상세 컨테이너 */
.container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 30px 30px 30px 30px;
  gap: 10px;
  margin-top: 7vh;
  align-items: center;
}

.content {
  line-height: 1.7;
  margin: 4vh 0 6vh;
  user-select: text;
}

.margin {
  margin-right: 1.5rem;
}
